# Last new!
@flowy:registry=https://registry.npmjs.org/
; ^^^ Official NPM Registry
@flowy-dev:registry=https://registry.yarnpkg.com/
; ^^^ Proxy reversed
; This is false to avoid issues in GitHub actions
git-checks = false

hoist-pattern[] = jest-runner
shared-workspace-lockfile = true
publish-branch = main
flowyfile = .flowyrc.cjs